@tailwind base;
@tailwind components;
@tailwind utilities;

select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

[multiple],
[type="datetime-local"],
[type="month"],
[type="tel"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  border-radius: 0;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-shadow: 0 0 #0000;
}

@layer base {
  /* Font sizes */

  h1 {
    @apply text-black font-bold;
  }

  h2 {
    @apply text-black font-bold;
  }

  p {
    @apply text-black font-normal;
  }

  .small {
    @apply text-sm text-black font-normal;
  }

  .mini {
    @apply text-xs text-black font-normal;
  }

  /* Buttons */

  .primary-button {
    @apply px-5 py-4 rounded-md bg-black text-white hover:bg-bluestrong duration-200;
  }

  .secondary-button {
    @apply px-5 py-4 rounded-md border border-black bg-white text-black hover:bg-[#EDEDED] duration-200;
  }

  /* Container */
  .container-body {
    @apply max-w-[2000px] mx-auto px-6 md:px-24;
  }

  .section {
    @apply m-0 px-6 md:px-[60px] lg:px-[100px];
  }
  .sectionplan {
    @apply m-0 px-6 md:px-[60px] lg:px-[0px];
  }
  .container {
    @apply mx-auto max-w-[1440px];
  }
  .containerthin {
    @apply mx-auto max-w-[800px];
  }
}
